*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F4F4;
}
.result{
    span{

    }
}
.input_box {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        width: 100%;
  
    }
  }
  
  .btn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      border-collapse: collapse;  
        .btn_item {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            border: 1px solid gray;
            background-color: #fff;

    }
    .btn_op{
        // width: 25%;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     height: 50px;
        //     border: 1px solid gray;
        background-color: #F0F0F0 !important;
    }
  }